@import "settings";
@import "foundation-emails";

@import "template/template";

@media only screen and (max-width: 596px) {
    table.body .mail-header {
        height: 150px !important;
    }
}

.mail {
  border: 1px solid #eee;
  margin: auto;
  margin-bottom: 50px;

  &-header {
    background-image: url("../../assets/img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px !important;
  }


  h1 {
    font: 45px/1.25 "SegoeUIBold", sans-serif !important;
    color: #bf955d;
    margin: 40px auto !important;
    text-align: center;
    font-weight: bold;
  }

  h2 {
    font: 600 33px/1.25 "SegoeUIItalic", sans-serif;
    color: #003266;
    text-align: center;
    margin: 40px 0 20px 0 !important;
  }

  p {
    font: 22px/1.7 "SegoeUIRegular", sans-serif !important;
    color: #5d5d5d ;
    padding: 0 50px !important;

    @media only screen and (max-width: 596px) {
        padding: 0 25px !important;
    }
  }

  em {
    font: 600 16px/1.25 "SegoeUIItalic", sans-serif !important;
    color: #003266;
    display: block;
    margin-bottom: 20px !important;
    font-style: italic !important;
    padding: 0 25px !important;
  }

  .unsubscribe {
    display: block;
    color: #2658fb;
    text-decoration: underline;
    text-align: center;
  }

 
}
